@font-face {
    font-family: Young Serif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: Outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h4{
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: Young Serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-bottom: 1.7rem
}
ul,ol{
    padding: 0 1rem;
}
li{
    padding-left: .5rem;
    margin-bottom: .5rem;
}
li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
img{
    display: block;
    max-width: 100%;
    font-style: italic;
    color: brown;
}
body{
    font-family: Outfit;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: hsl(30, 10%, 34%);
    background-color: hsl(30, 54%, 90%);
}
.title{
    font-size: 2.5rem;
    color: hsl(24, 5%, 18%);
}
.prep{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: hsl(332, 51%, 32%);
}
span{
    font-weight: 700;
}
[data-cell="values"]{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}
.prep-time{
    padding: 1.75rem;
    border-radius: .8rem;
    margin-top: .8rem;
    background-color: hsl(330, 100%, 98%);
}
.wrapper{
    display: grid;
    place-content: center;
}
.content{
    max-width: 35rem;
    margin: 6rem 0;
    padding: 1.75rem;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 100%);
}
.image{
    border-radius: .8rem;
    margin-bottom: 2.5rem;
}
section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
hr{
    outline: none;
    border: none;
    height: 1px;
    background: hsl(30, 18%, 87%);
}
tr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .8rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
table{
    border-collapse: collapse;
    width: 100%;
}
@media(max-width: 500px){
    .content{
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    .image{
        border-radius: 0;
    }
    .prep-time{
        padding: 0 1.75rem;
    }
    .prep{
        font-size: 2.2rem;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
